@model IEnumerable<Entities.DTOs.ProductViewModel>
@{
    ViewData["Title"] = "Danh sách sản phẩm";
    Layout = "~/Areas/Administrator/Views/Shared/_Layout.cshtml";
}

<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-header">
                <a href="@Url.Action("Create")" class="btn btn-success float-right">Thêm mới</a>
            </div>
            <!-- /.card-header -->
            <div class="card-body">
                <div id="example1_wrapper" class="dataTables_wrapper dt-bootstrap4">
                    <div class="row">
                        <div class="col-sm-12">
                            <table id="example1" class="table table-bordered table-striped dataTable dtr-inline" role="grid" aria-describedby="example1_info">
                                <thead>
                                    <tr role="row">
                                        <th class="sorting" tabindex="0" aria-controls="example1" rowspan="1" colspan="1">Id</th>
                                        <th class="sorting" tabindex="0" aria-controls="example1" rowspan="1" colspan="1">Mã SP</th>
                                        <th class="sorting" tabindex="0" aria-controls="example1" rowspan="1" colspan="1" style="min-width: 300px;">Tên SP</th>
                                        <th class="sorting" tabindex="0" aria-controls="example1" rowspan="1" colspan="1" style="max-width: 100px;">Danh mục</th>
                                        <th class="sorting" tabindex="0" aria-controls="example1" rowspan="1" colspan="1" style="max-width: 50px;">Sản phẩm hot</th>
                                        <th class="sorting" tabindex="0" aria-controls="example1" rowspan="1" colspan="1" style="max-width: 50px;">Hiển thị trang chủ</th>
                                        <th class="sorting" tabindex="0" aria-controls="example1" rowspan="1" colspan="1">Đang sales</th>
                                        <th class="sorting" tabindex="0" aria-controls="example1" rowspan="1" colspan="1">Giá gốc</th>
                                        <th class="sorting" tabindex="0" aria-controls="example1" rowspan="1" colspan="1">Giá sales</th>
                                        <th class="sorting" tabindex="0" aria-controls="example1" rowspan="1" colspan="1">Thao tác</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @if (Model != null)
                                    {
                                        if (Model?.Count() > 0)
                                        {
                                            var id = 1;
                                            foreach (var item in Model)
                                            {
                                                <tr role="row">
                                                    <td>@id</td>
                                                    <td>@item.Code</td>
                                                    <td>@item.Name</td>
                                                    <td>@item.ProductCategory?.CategoryName</td>
                                                    @if (item.IsHot == true)
                                                    {
                                                        <td>Có</td>
                                                    }
                                                    else
                                                    {
                                                        <td>Không</td>
                                                    }
                                                    @if (item.IsHome == true)
                                                    {
                                                        <td>Có</td>
                                                    }
                                                    else
                                                    {
                                                        <td>Không</td>
                                                    }
                                                    @if (item.IsPromote == true)
                                                    {
                                                        <td>Có</td>
                                                    }
                                                    else
                                                    {
                                                        <td>Không</td>
                                                    }
                                                    <td>@item.Price</td>
                                                    <td>@item.PromotionPrice</td>
                                                    <td>
                                                        @*<a href="@Url.Action("Detail", new { id = item.Id})" data-toggle="tooltip" data-placement="top" title="Chi tiết sản phẩm">
                                                            <i class="fa fa-info-circle"></i>
                                                        </a>*@
                                                        <a href="@Url.Action("MoreImages", new { id = item.Id})" data-toggle="tooltip" data-placement="top" title="Thêm ảnh sản phẩm">
                                                            &nbsp;
                                                            <i class="fa fa-camera"></i>
                                                        </a>
                                                        <a href="@Url.Action("Edit", new { id = item.Id})" data-toggle="tooltip" data-placement="top" title="Sửa thông tin sản phẩm">
                                                            &nbsp;
                                                            <i class="fa fa-edit"></i>
                                                        </a>
                                                        &nbsp;
                                                        <a onclick="return confirm('Bạn có muốn xóa dữ liệu không?')" href="@Url.Action("Delete", new { id = item.Id})">
                                                            <i class="fa fa-trash"></i>
                                                        </a>
                                                    </td>
                                                </tr>
                                                id++;
                                            }
                                        }
                                    }
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
            <!-- /.card-body -->
        </div>
        <!-- /.card -->
    </div>
    <!-- /.col -->
</div>

<!-- Page specific script -->
<script>
    $(function () {
        $("#example1").DataTable({
            "paging": true,
            "lengthChange": false,
            "searching": true,
            "ordering": true,
            "info": true,
            "autoWidth": false,
            "responsive": true,
        }).buttons().container().appendTo('#example1 .col-md-6:eq(0)');
    });
</script>
