@model Entities.DTOs.ProductViewModel
@{
    ViewData["Title"] = Model.Name;
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@{
    var chooseColor = (int)ViewBag.ChooseColor;
    var chooseLength = (int)ViewBag.ChooseLength;
    var chooseProduct = (int)ViewBag.ChooseProduct;
    var chooseQuantity = (int)ViewBag.ChooseQuantity;

}
<section class="product-details-area mtb-60px">
    <div class="container">
        <div class="row">
            <div class="col-xl-6 col-lg-6 col-md-12">
                <div class="product-details-img product-details-tab">
                    <div class="zoompro-wrap zoompro-2">
                        <div class="zoompro-border zoompro-span">
                            <img class="zoompro" src="@Model.MainImageLarge" data-zoom-image="@Model.MainImageLarge" alt="">
                        </div>
                    </div>
                    <div id="gallery" class="product-dec-slider-2 slick-initialized slick-slider">
                        <div class="slick-list draggable">
                            <div class="slick-track" style="opacity: 1; width: 612px; transform: translate3d(0px, 0px, 0px);">
                                @foreach (var img in Model.ProductImages)
                                {
                                    <a class="active slick-slide slick-current slick-active" data-image="@img.ThumbImage" data-zoom-image="@img.ThumbImage" data-slick-index="0" aria-hidden="false" tabindex="0" style="width: 153px;">
                                        <img src="@img.LargeImage" alt="">
                                    </a>
                                }
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xl-6 col-lg-6 col-md-12">
                <div class="product-details-content">
                    <h1>@Model.Name</h1>
                    <div class="pro-details-rating-wrap">
                        <div class="rating-product">
                            <i class="ion-android-star"></i>
                            <i class="ion-android-star"></i>
                            <i class="ion-android-star"></i>
                            <i class="ion-android-star"></i>
                            <i class="ion-android-star"></i>
                        </div>
                    </div>
                    <div class="pricing-meta">
                        <ul>
                            @if (Model.IsPromote)
                            {
                                <li class="old-price">@Model.Price.GetValueOrDefault(0).ToString("N0") đ</li>
                                <li class="current-price" style="font-size: 200%;">@Model.PromotionPrice.GetValueOrDefault(0).ToString("N0") đ</li>
                            }
                            else
                            {
                                <li class="old-price not-cut">@Model.Price.GetValueOrDefault(0).ToString("N0") đ</li>
                            }
                        </ul>
                    </div>
                    <div class="pro-details-quality mt-0px">
                        <span style="padding-top: 10px;">Số lượng (chiếc):&nbsp&nbsp</span>
                        <div class="cart-plus-minus">
                            <div id="dec" class="dec qtybutton">-</div>
                            <input class="cart-plus-minus-box" type="text" name="quantity" id="quantity" value="1">
                            <div id="inc" class="inc qtybutton">+</div>
                        </div>
                        <div class="pro-details-cart btn-hover">
                            <a role="button" onclick="addtocart()">Thêm vào giỏ hàng</a>
                        </div>
                    </div>
                    <div class="pro-details-social-info">
                        <span>Chia sẻ</span>
                        <div class="social-info">
                            <ul>
                                <li>
                                    <a href="https://www.facebook.com/PcLaptopHiend"><i class="ion-social-facebook"></i></a>
                                </li>
                                <li>
                                    <a href="https://www.facebook.com/PcLaptopHiend"><i class="ion-social-twitter"></i></a>
                                </li>
                                <li>
                                    <a href="https://www.facebook.com/PcLaptopHiend"><i class="ion-social-google"></i></a>
                                </li>
                                <li>
                                    <a href="https://www.facebook.com/PcLaptopHiend"><i class="ion-social-instagram"></i></a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="pro-details-policy">
                        <ul>
                            <li><img src="~/assets/images/icons/policy.png" alt=""><span>Cam kết giao hàng tận nơi</span></li>
                            <li><img src="~/assets/images/icons/policy-2.png" alt=""><span>Đóng gói gọn gàng, đảm bảo</span></li>
                            <li><img src="~/assets/images/icons/policy-3.png" alt=""><span>Hàng hóa nguyên vẹn khi đến tay người nhận</span></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<div class="description-review-area mb-60px">
    <div class="container">
        <div class="description-review-wrapper">
            <div class="description-review-topbar nav">
                <a data-bs-toggle="tab" href="#des-details1" class="active">Chi tiết sản phẩm</a>
            </div>
            <div class="tab-content description-review-bottom">
                <div id="des-details1" class="tab-pane active">
                    <div class="product-description-wrapper">
                        @Html.Raw(Model.Description)
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    $("#dec").click(function () {
        var crdt = $("#quantity").val();
        if (crdt > 0) {
            crdt--;
        }
        $("#quantity").val(crdt);
    });
    $("#inc").click(function () {
        var crdt = $("#quantity").val();
        crdt++;
        $("#quantity").val(crdt);
    });
    function addtocart() {
        var url = '@Url.Action("AddItem", "Cart")';
        var product = @chooseProduct;
        var quantity = $('#quantity').val();
        var fullUrl = url + '?productId=' + product + '&quantity=' + quantity ;
        window.location = fullUrl;
    }
</script>