@model IEnumerable<Entities.Models.Users>
@{
    ViewData["Title"] = "Danh sách tài khoản";
    Layout = "~/Areas/Administrator/Views/Shared/_Layout.cshtml";
}

<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-header">
                <a href="@Url.Action("Create")" class="btn btn-success float-right">Thêm mới</a>
            </div>
            <!-- /.card-header -->
            <div class="card-body">
                <div id="example1_wrapper" class="dataTables_wrapper dt-bootstrap4">
                    <div class="row">
                        <div class="col-sm-12">
                            <table id="example1" class="table table-bordered table-striped dataTable dtr-inline" role="grid" aria-describedby="example1_info">
                                <thead>
                                    <tr role="row">
                                        <th class="sorting" tabindex="0" aria-controls="example1" rowspan="1" colspan="1">Id</th>
                                        <th class="sorting" tabindex="0" aria-controls="example1" rowspan="1" colspan="1" style="min-width: 150px;">Tên đăng nhập</th>
                                        <th class="sorting" tabindex="0" aria-controls="example1" rowspan="1" colspan="1" style="max-width: 150px;">Họ tên nhân viên</th>
                                        <th class="sorting" tabindex="0" aria-controls="example1" rowspan="1" colspan="1" style="max-width: 50px;">Giới tính</th>
                                        <th class="sorting" tabindex="0" aria-controls="example1" rowspan="1" colspan="1" style="max-width: 50px;">Ngày sinh</th>
                                        <th class="sorting" tabindex="0" aria-controls="example1" rowspan="1" colspan="1" style="max-width: 50px;">Địa chỉ</th>
                                        <th class="sorting" tabindex="0" aria-controls="example1" rowspan="1" colspan="1" style="max-width: 50px;">Số điện thoại</th>
                                        <th class="sorting" tabindex="0" aria-controls="example1" rowspan="1" colspan="1" style="max-width: 50px;">Email</th>
                                        <th class="sorting" tabindex="0" aria-controls="example1" rowspan="1" colspan="1">Thao tác</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @if (Model != null)
                                    {
                                        if (Model.Count() > 0)
                                        {
                                            var id = 1;
                                            foreach (var item in Model)
                                            {
                                                <tr role="row">
                                                    <td>@id</td>
                                                    <td>@item.Username</td>
                                                    <td>@item.FullName</td>
                                                    @if (item.Gender == 1)
                                                    {
                                                        <td>Nam</td>
                                                    }
                                                    else if (item.Gender == 2)
                                                    {
                                                        <td>Nữ</td>
                                                    }
                                                    else
                                                    {
                                                        <td>Khác</td>

                                                    }
                                                    <td>@item.Birthday?.ToString("dd/MM/yyyy")</td>
                                                    <td>@item.Address</td>
                                                    <td>@item.Phone</td>
                                                    <td>@item.Email</td>
                                                    <td>
                                                        <a href="@Url.Action("Edit", new { id = item.Id})">
                                                            <i class="fa fa-edit"></i>
                                                        </a>
                                                        &nbsp;
                                                        <a onclick="return confirm('Bạn có muốn xóa dữ liệu không?')" href="@Url.Action("Delete", new { id = item.Id})">
                                                            <i class="fa fa-trash"></i>
                                                        </a>
                                                    </td>
                                                </tr>
                                                id++;
                                            }
                                        }
                                    }
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
            <!-- /.card-body -->
        </div>
        <!-- /.card -->
    </div>
    <!-- /.col -->
</div>

<!-- Page specific script -->
<script>
    $(function () {
        $("#example1").DataTable({
            "paging": true,
            "lengthChange": false,
            "searching": true,
            "ordering": true,
            "info": true,
            "autoWidth": false,
            "responsive": true,
            "buttons": ["copy", "csv", "excel", "pdf", "print", "colvis"]
        }).buttons().container().appendTo('#example1 .col-md-6:eq(0)');
    });
</script>
